.margin-top-10px{
    margin-top:10px; 
}
body{
    background: rgb(0, 14, 19);
}

.font-2em{
    font-size: 2em!important;
}
.header-style{
    display: inline-block;
    background-color: #000005;
    color: #fff;
    padding: 10px;
}
